RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "a7c66ea3-85e4-43cf-91c9-b162311126fd",
      "name": "When chat message received",
      "webhookId": "35ee634b-29b2-4b6f-a549-c95a14591e4a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Sana sorulan sorulara supabase içerisinden bilgi alıp cevapla."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "3e38ccc7-7036-4483-bb1c-411509b4174e",
      "name": "AI Agent",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "0d340a29-ff89-475f-b6ac-805f3539b2b9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AenUontuhzHDJ44U",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "bu şirketim hakkındaki bilgilerdir.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        448,
        240
      ],
      "id": "d9c1ffbf-dded-4e4a-a0e1-e09389a557d7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "kxEVChQl2m0Nz7Df",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        448
      ],
      "id": "e86e2f9c-b0eb-46b8-93cd-31bb9372c7f4",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RS7vKITyS7QXFqjB",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1qlJeUj8aEcggjNln1m9j2nLBRkF3NGzc",
          "mode": "list",
          "cachedResultName": "izin_politikası.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1qlJeUj8aEcggjNln1m9j2nLBRkF3NGzc/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        576
      ],
      "id": "1f3fdd61-9576-4d0e-af9d-e7e324d151da",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VpNeJthbl5KxtQWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        576
      ],
      "id": "316271fa-5e0d-4e40-960d-7459993d874b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -432,
        576
      ],
      "id": "1b57a752-2cc5-48c1-a002-4756b482302c",
      "name": "Supabase Vector Store1",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "kxEVChQl2m0Nz7Df",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        816
      ],
      "id": "4f7e8ad1-883c-4662-852d-b2e4b91c2764",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RS7vKITyS7QXFqjB",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -336,
        816
      ],
      "id": "80f94517-2521-4e17-96d9-48b556473d13",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -240,
        1024
      ],
      "id": "e54b095d-ff46-42f6-a02d-c275cb38dc91",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        224
      ],
      "id": "8371091c-1fcf-485d-90d9-8f82ea759310",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "RS7vKITyS7QXFqjB",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d12bcf4c-63a5-4b45-95b2-cdd928df6371",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2969a946c0a69f43276663d1722d7dc9ab3e0a8bfb0aa6249bad01ee67d3204d"
  },
  "id": "VX83sQqVBHgch3HTcWOp0",
  "tags": []
}